/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap');

/* shared style */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.text-light-gray{
   color:#727272;
}

.btn-primary {
    border-radius: 8px;
    font-size: 1.25rem;
    color: white;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

/* header styel */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313);
}

nav > ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242);
}

/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img {
    /* margin-right: 500px; */
    width: 100%;
    margin-top: 20px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

/* .banner-description {
    color: #727272;
} */



/* main style */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */
.teams-container{
    display: flex;
    align-items: center;
    /* margin-top: 40px; */
}
.teams-img-contaner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color:#727272;
    font-weight: 500;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}





/* responsive medid style */
/* mobile deviice */
@media screen and (max-width: 576px) {
    header{
        padding:20px;
    }
    nav,
    .teams-container
    {
        flex-direction: column;
    }
    .teams-img-contaner{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* teblet  or medum device */
@media screen and (min-width:576px) and (max-width:960px){
    header{
        padding:50px;
    }
    
    nav, .teams-container{
        flex-direction: column;
    }
}
   





